<li *ngFor="let i of ctad">
    <span><b>Leiras:</b>{{i.leiras}}</span>
    <br>
    <span><b>Szélesség:</b>{{i.szelesseg}}</span>
    <br>
    <span><b>Hosszusag:</b>{{i.hosszusag}}</span>
</li>

<hr>

<label> {{ leirasModel }} </label>
<table border="0">
    <tr>
        <td>Kérlek add meg a leírást: </td>
        <td>
            <div>
                <input [(ngModel)]="leirasModel" placeholder="enter leiras">
            </div>
        </td>
    </tr>
    <tr>
        <td>Szélesség: </td>
        <td>
            <div>
                <input type="number" [(ngModel)]="szelessegModel" placeholder="enter szelesseg ">
            </div>
        </td>
    </tr>
    <tr>
        <td>Hosszúság: </td>
        <td>
            <div>
                <input type="number" [(ngModel)]="hosszusagModel" placeholder="enter hosszusag">
            </div>
        </td>
    </tr>
    
   <!-- <label> {{ szelessegModel }} </label>
    
    <label> {{ hosszusagModel }} </label>-->
   
</table>
<br>

<button class="btn" (click)="createCordToAdress()"> Submit </button>